<html>
	<head>
		<title>My Clicker Game</title>
		<link rel="stylesheet" href="style.css" type="text/css"/>
	</head>
	<body>
		<div id"clickerImg">
			<img id="clicker" src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/256x256/Circle_Red.png">
		</div>
		<div>
			<p id="clickerCount">0 Points</p>
			<p id="pointsPerSec">0 Points/sec</p>
		</div>
		<div>
			<p id="upgrades">Upgrades</p>
			<button id="upgradeOne">Upgrade 1: Cost 25</button>
			<button id="upgradeTwo">Upgrade 2: Cost 50</button>
		</div>
		<div class="testing">
			<p id="upgradeOneDescription" style="display:none;">Not working at the moment</p>
		</div>
		<script src="script.js"></script>
	</body>
</html>